body{
    background:#111111 url(images/bg-main-background.jpg) repeat-x top center;
    font-family:Arial;
    font-size:10pt;
    padding: 0;
    margin: 0;
	margin-bottom: 16px;
}

img {
    border: none;
}

h2{
    margin-top: 0;
}

#main{
    width: 1000px;
    margin: 0 auto;
}

/* HEADER */
#header {
    position: relative;
}

#header p {
    position: absolute;
    top: 0;
    right: 5px;
    color: #fff;
}

#header a {
    color: gold;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

/* NAV */

#nav{
    height: 35px;
    background: transparent url('/images/brushmetal2.png') repeat-x left top;
}

#nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav .tab{
    float: right;
}

#nav .tab a {
    display: block;
    height:35px;
    width: 162px;
}

#nav_stats a{
    background: transparent url('/images/button_img_map.jpg') 0 -245px no-repeat;
}

#nav_stats a:hover{
    background: transparent url('/images/button_img_map.jpg') 0 -210px no-repeat;
}

#nav_donation a{
    background: transparent url('/images/button_img_map.jpg') 0 -175px no-repeat;
}

#nav_donation a:hover{
    background: transparent url('/images/button_img_map.jpg') 0 -140px no-repeat;
}

#nav_submit a{
    background: transparent url('/images/button_img_map.jpg') 0 -105px no-repeat;
}

#nav_submit a:hover{
    background: transparent url('/images/button_img_map.jpg') 0 -70px no-repeat;
}

#nav_forum a{
    background: transparent url('/images/button_img_map.jpg') 0 -35px no-repeat;
}

#nav_forum a:hover{
    background: transparent url('/images/button_img_map.jpg') 0 0 no-repeat;
}

#content{
    background-color: #fff;
    padding: 10px 35px;
}

#footer{
    background-color: #4F4F4F;
    padding:3px;
	color: #ffffff;
}
#footer a {
	color: #dddddd;
}

/* MAIN NEWS */
/*#news{
    margin-right: 310px;
    min-height: 500px;
}*/

/* RECENTLY ADDED */
#recent {
    text-align: center;
    width: 305px;
}
#recent ul{
    padding: 0;
    margin: 0;
}

#recent li {
    display: none;
    list-style: none;
    float: left;
    padding: 0 5px;
}

#recent img, #recent li {
    width: 300px;
}

#recent a {
    text-decoration: none;
}

#recent span{
    font-weight: bold;
    padding: 3px 0;
}
#recent li img {
    width: 300px;
}

/* GAME PAGE */
#gameLeft {
	width: 538px;
	float: left;
	padding-right: 30px;
	padding-top: 20px;
	border-top: 2px dotted #666;
}
#gameOptionsRight {
	width: 330px;
	float: left;
	padding-left: 30px;
	padding-top: 10px;
	border-top: 2px dotted #666;
	border-left: 2px dotted #666;
}
#gameOptionsRight .miniPanel {
	width: 300px;
	padding: 7px 15px;
	margin-top: 10px;
	color: #FFF;
	border: 1px solid #666;
	border-radius: 10px;
	background-color: #999;
}
#gameOptionsRight .miniPanel h1 {
	margin-top: 0px;
}
#gameOptionsRight .miniPanel a {
	color: #FFF;
}
#gameRight {
	width: 330px;
	float: left;
	padding-left: 30px;
	border-left: 2px dotted #666;
}
#gameInfoContent {
	color: #FFF;
	width: 498px;
	padding: 20px 20px 100px 20px;
	background: #999 url(images/game/bg-gameinfo-content.jpg) no-repeat bottom center;
	border: 1px solid #666;
	border-radius: 10px;	
}
#gameInfoContent .button {
	width: 120px;
	height: 30px;
}
#gameInfoContent a {
	color: #FFF;
}
#gameLeft #gameOtherPlatforms {
	color: #FFF;
	background: #999 url(images/game/bg-othergames.jpg) no-repeat bottom center;
	margin-top: 10px;
	padding: 10px 10px 30px 10px;
	text-align: center;
	border: 1px solid #666;
	border-radius: 10px;
}
#gameLeft #gameOtherPlatforms h3 {
	margin-top: 0px;
	text-align: left;
}
#gameLeft #gameOtherPlatforms a {
	color: #fff;
}
#gameLeft .miniPanel {
	display: none;
	text-align: justify;
	/*float: left;
	width: 240px;
	height: 220px;
	padding: 9px 10px;
	margin-top: 10px;
	color: #FFF;
	border: 1px solid #666;
	border-radius: 10px;
	margin-left:3px;
	margin-right: 2px;
	background-color: #999;*/
}
#gameLeft .miniPanel h3 {
	margin-top: 0px;
}
#gameLeft .miniPanel a {
	color: #666;
}
#gameRight .miniPanel {
	width: 300px;
	padding: 7px 15px;
	margin-top: 10px;
	color: #FFF;
	border: 1px solid #666;
	border-radius: 10px;
	background-color: #999;
}
#gameRight .miniPanel h1 {
	margin-top: 0px;
}
#gameRight .miniPanel a {
	color: #FFF;
}

/* Banner Rotater */
#bannerrotator {
	position: static;
	width: 1000px;
	margin-left: -35px;
	margin-top: -10px;
	padding-top: 10px;
}
#bannerRotatorObject {
    position: relative;
	width: 780px;
    height: 160px;
	margin: auto;
	margin-bottom: 15px;
	background-color: #999;
	border-radius: 10px;
	border: 1px solid #666;
}
#bannerRotatorObject img{
	padding: 10px;
}
#bannerrotator .rotatebanner {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
}

/* Control Panel */
#controlPanelWrapper {
	border: 1px solid #666;
	background-color: #EFEFEF;
}
#controlPanelNav {
	float: left;
	width: 150px;
	background-color: #444;
	font-size: 16px;
}
#controlPanelNav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#controlPanelNav li {
	background-color: #999;
	border: 1px solid #aaa;
	margin: 1px;
	text-align: center;
	padding: 10px 0px;
}
#controlPanelNav li:hover {
	background-color: #444;
}
#controlPanelNav .active {
	background-color: #333;
}
#controlPanelNav .active a {
	color: darkorange;
}
#controlPanelNav a {
	display: block;
	color: #fff;
}
#controlPanelNav a:hover {
	color: orange;
}
#controlPanelContent {
	float: left;
	width: 750px;
	padding: 13px;
	border: 1px solid #AAA;
}
#controlPanelContent h2 {
	text-align: center;
	color: #FF5500;
}

/* UTILITY CLASSES */
.left { float: left; }
.banner {margin-bottom: 20px}
.right { float: right; }
.clear { clear: both; }
.tile { display: block;margin-top: 11px }
.error { color: red; width: 94%; margin: auto; margin-bottom: 20px; border: 2px solid #666; border-radius: 7px; padding: 15px; text-align: center; background-color: #DDD; font-size: 14px;}
.message {color:green; width: 94%; margin: auto; margin-bottom: 20px; border: 2px solid #666; border-radius: 7px; padding: 15px; text-align: center; background-color: #DDD; font-size: 14px;}
.ad {
    margin:0 auto;
    width:468px;
}
/**************************************************
  General styles

BODY  {
	margin: 0px;
	padding: 0px;
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
	background-color: #002F49;
	font: 9pt Helvetica, Arial, san-serif;
	color: white;
}

TABLE TD {
	vertical-align: top;
}

FORM  {
	margin: 0px;
	padding: 0px;
}

LI  {
	margin-bottom: 15px;
}

.section  {
	background-color: #001D2D;
	margin: 5px 0px 5px 0px;
	padding: 10px;
}

.section H1  {
	margin: 0px;
	margin-bottom: 5px;
	color: #B6D415;
	font: bold 12pt Helvetica, Arial, san-serif;
}

.section H2  {
	margin: 0px;
	color: #fff;
	font: bold 11pt Helvetica, Arial, san-serif;
}

.titlesection  {
	background-color: #B6D415;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	color: #001D2D;
}

.titlesection A:link, .titlesection A:visited  {
	color: #001B2C;
}

.titlesection A:hover  {
	color: #002F49;
}

.titlesection H1  {
	margin: 0px;
	margin-bottom: 0px;
	color: #001B2C;
	font: bold 12pt Helvetica, Arial, san-serif;
}

.titlesection H2  {
	margin: 0px;
	margin-bottom: 0px;
	margin-left:  20px;
	color: #001B2C;
	font: bold 11pt Helvetica, Arial, san-serif;
}

.titlesection H3  {
	margin: 0px;
	margin-bottom: 0px;
	margin-left:  40px;
	color: #001B2C;
	font: bold 10pt Helvetica, Arial, san-serif;
}

.blanksection  {
	margin: 5px 0px 5px 0px;
	padding: 0px;
}

.banner  {
	border: 1px solid black;
	margin: 0px;
	margin-bottom: 5px;
}

#bannerauthor  {
	color: #B6D415;
	font: 8pt Helvetica, Arial, san-serif;
	text-align: center;
	margin-bottom: 5px;
}

.bannerinfo  {
	margin-bottom: 10px;
	font: 8pt Helvetica, Arial, san-serif;
}

.seasonlink  {

}

.languagesel_on {
	background-color: #fdd;
}
.languagesel_off {
	background-color: #fff;
}

TEXTAREA  {
	font: 9pt Helvetica, Arial, san-serif;
}

#bannerrotator
{
	margin: 10px 0px 5px;
	overflow: hidden;
	position: relative;
	width: 758px;
	height: 140px;
}

#bannerrotator img
{
	width: 758px;
	height: 140px;
}

.subsection  {
	text-align: right;
}

#red  {
	color: red;
}

.longtext  {
	margin-left: 30px;
	margin-right: 40px;
}

#smalltext  {
	font: 8pt Helvetica, Arial, san-serif;
	color: #B6D415;
}

#formnote  {
	font: 8pt Helvetica, Arial, san-serif;
	color: #B6D415;
	white-space: normal !important;
	margin-bottom: 5px;
}

#searchbox {
	margin: 0px;
	padding: 0px;
	z-index: 1;
}
#searchbox #search {
	position:relative;
	top: 183px;
	left: 590px;

	width: 150px;
	height: 16px !important;
	border: none !important;
	background-color: white;
	font-size: 1em !important;
	text-align: center;
}

#searchbox #usersearch,  #yearsearch{
	width: 150px;
	height: 14px !important;
	border: none !important;
	background-color: white;
	font-size: 1em !important;
	text-align: center;
}




A  {
	color: #B6D415;
	text-decoration: none;
}
A:link  {
	color: #B6D415;
}
A:visited  {
	color: #B6D415;
}
A:hover  {
	color: #DFEF86;
}
*/

TABLE#listtable  {
	width: 100%;
	padding: 0px;
	background-color: #001D2D;
	border: 2px solid #666666;
}

TABLE#listtable TD  {
	vertical-align: top;
	font: 9pt Helvetica, Arial, san-serif;
}
TABLE#listtable .head {
	background-color: #EF5F00;
	font-weight: bold;	
	color: #001D2D;
}
TABLE#listtable .head a{
	color: #001D2D;
	text-decoration: none;
}
TABLE#listtable .head a:link  {
	color: #001D2D;
}
TABLE#listtable .head A:visited  {
	color: #001D2D;
}
TABLE#listtable .head A:hover  {
	color: #DFEF86;
}

TABLE#listtable td a{
	color: #001D2D;
}
TABLE#listtable td a:link  {
	color: #001D2D;
}
TABLE#listtable td A:visited  {
	color: #001D2D;
}
TABLE#listtable .even A:hover  {
	color: #FF6F00;
}
TABLE#listtable .odd A:hover  {
	color: #EF5F00;
}

TABLE#listtable .even  {
	background-color: #AAA;
}

TABLE#listtable .odd  {
	background-color: #DDD;
}

TABLE#listtable .special  {
	background-color: #502337;
}

TABLE#listtable .total  {
	background-color: #313131;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 1px;
}

/*
TABLE#infotable  {
	width: 100%;
	padding: 0px;
	background-color: #001D2D;
}

TABLE#infotable TD  {
	vertical-align: top;
	text-align: left;
	font: 9pt Helvetica, Arial, san-serif;
	border-bottom: 1px solid #B6D415;
}
TABLE#infotable .head  {
	font-weight: bold;	
	color: #B6D415;
}

TABLE#infotable A  {
	color: white;
}

TABLE#infotable A:hover  {
	color: #CFE455;
}


TABLE#datatable TD {
	vertical-align: top;
}

TABLE#datatable INPUT  {
	width: 240px;
}

TABLE#datatable TD #formnote  {
	font: 8pt Helvetica, Arial, san-serif;
	color: #B6D415;
	white-space: normal !important;
	margin-bottom: 5px;
}

TABLE#datatablelist TD {
	vertical-align: top;
}

TABLE#datatablelist INPUT  {
	width: 95px;
}

TABLE#datatablelist TD #formnote  {
	font: 8pt Helvetica, Arial, san-serif;
	color: #B6D415;
	white-space: normal !important;
	margin-bottom: 5px;
}

.footer  {
	background-color: #B6D415;
	color: #001B2C;
	margin: 0px 0px 0px;
	padding: 10px;
	font: bold 8pt Helvetica, Arial, san-serif;
}

.footer A  {
	color: #001D2D;
	text-decoration: underline;
}
.footer A:hover  {
	color: #002F49;
}



b.niftycorners,b.niftyfill{display:block}
b.niftycorners *{display:block;height: 1px;line-height:1px;font-size: 1px;
    overflow:hidden;border-style:solid;border-width: 0 1px}
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}
**************************************************/