/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { overflow:hidden; }

/* PICTURES */
#pictureSlider { }
#pictureSlider div { height:100%; width:100%; position:absolute; z-index:-999; }

/* NAVIGATION BOX */
.navbox { width:500px; height:150px; position:absolute; left:0px; bottom:50px; opacity: 0.7; }
.navbox ul { list-style:none; position:absolute; right:10px; top:10px; }
.navbox ul li { display:inline; cursor:pointer; }
.navbox ul li a { display:block; float:left; width:17px; height:17px; text-align:center; background-image:url("../images/nav_btns.png"); margin-left:5px;
	text-decoration:none; color:#eee; font: bold 14px Helvetica, Arial, Sans-serif; line-height:18px; }
.navbox ul li a:hover { background-position:bottom; color:#000; }	
.navbox ul li a.active { color:#777; }

.navbox h2 { padding:26px 20px 0 20px; font: bold 24px Helvetica, Arial, Sans-serif; height: 60px; text-shadow: 0px 2px 6px #333; color:#eee; }
.navbox h2 a{ font: bold 24px Helvetica, Arial, Sans-serif; text-shadow: 0px 2px 6px #333; color:#eee; text-decoration: none;}
.navbox h2 a:visited{ font: bold 24px Helvetica, Arial, Sans-serif; text-shadow: 0px 2px 6px #333; color:#eee; }
.navbox h2 a:link{ font: bold 24px Helvetica, Arial, Sans-serif; text-shadow: 0px 2px 6px #333; color:#eee; }
.navbox p { padding:6px 0px 0px 20px; margin: 0px; height: 16px; font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif; font-size:17px; text-shadow: 0px 2px 6px #333; color:#eee; }
.navbox p img { vertical-align: middle; }
.navbox p a { text-decoration:none;  color:#eee; }
.navbox p a:hover { border-bottom:1px dotted; }
.navbox p.bottom { position:absolute; padding: 0px; height: 20px; bottom:0x; right:5px; font-size: 12px }

.orange { background:url("../images/bg_orange.png") repeat-x center center; }
.beige { background:url("../images/bg_beige.png") repeat-x center center; }
.silver { background:url("../images/bg_silver.png") repeat-x center center; }
.blue { background:url("../images/bg_blue.png") repeat-x center center; }
.purple { background:url("../images/bg_purple.png") repeat-x center center; }
.green { background:url("../images/bg_darkgreen.png") repeat-x center center; }
.red { background:url("../images/bg_red.png") repeat-x center center; }
.yellow { background:url("../images/bg_yellow.png") repeat-x center center; }